html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}
header {
    display: flex; 
    align-items: center; 
    position: fixed;
    font-size: 20px;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(2px);
    justify-content: space-between; 
    background-color: rgba(250, 250, 250, 0.7);
}
body {
    font-family: Sans-serif, Arial;
}
nav {
    margin-right: 80px;
    display: flex; 
    gap: 30px;
    padding-block: 10px;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: rgba(0, 0, 0, 0.7);
}
section{
    min-height: 100vh;
    display: flex; 
    flex-direction: column; 
    padding-inline: 100px;
}
.welcome-section{
    justify-content: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #ffffff 100%), url("images/solid.jpg");
    background-size: cover;
}
.about-section{
    background: 
                linear-gradient(to bottom, rgba(255,255,255,0) 80%, #ffffff 100%),
                linear-gradient(to left, rgba(255,255,255,0) 90%, #ffffff 100%),
                linear-gradient(to top, rgba(255,255,255,0) 90%, #ffffff 100%), 
                linear-gradient(to right, rgba(255,255,255,0) 90%, #ffffff 100%), 
                url("images/paper.avif");
    /* background-image: url("images/paper.avif"); */
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 90px;
    padding-inline: 250px;
}
.header-content{
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-left: 80px;
}
.header-content:hover{
    cursor: pointer;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.logo-container img:hover {
    animation: dance 0.7s ease-in-out infinite;
    cursor: pointer;
}
.welcome-contact{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.contact-row img{
    height: 30px; 
    width: 30px; 
    filter: grayscale(80%);
}
.contact-row a{
    color: black;
}
@keyframes dance{
    0%, 100% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
}
.article{
    display: flex; 
    gap: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.article .column{
    display: flex; 
    flex-direction: column; 
    width: 100%;
}
.paragraph{
    font-size: 18px;
    
}
.paragraph::first-letter{
    font-size: 1.5em;
    padding: 2px;
}
.separator {
    width: 2px;
    background-color: #ccc;
  }
.paragraph-title{
    font-size: 18px; 
    width: 70%;
    text-decoration: underline;
}